.Game {
  background-color: #eee;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.infoPanel {
  font-size: 1.3em;
  color: #363330;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;

  width: 400px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.new {
  background-color: #fff;
}

div.incorrect {
  color: #fff;
  background-color: #f67d18;
}

div.partial {
  background-color: #f6e018;
}

div.success {
  color: #fff;
  background-color: #03bbf0;
}

div.info {
  flex: 5;
}

button.btnCheck {
  flex: 1;
  font-size: 20px;
}
