.Menu {
  background-color: #eee;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuLink {
  font-size: 1.3em;
  text-decoration: none;
  color: #363330;
  background-color: #fff;
  border-radius: 10px;
  text-shadow: 0px 2px #a1a1b9;
  box-shadow: 0px 3px #a1a1b9;

  width: 400px;

  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.menuLink:hover {
  color: #fff;
  background-color: #363330;
}
