.Menu {
  background-color: #eee;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuItem {
  font-size: 2em;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;

  width: 400px;
  height: 50px;
  min-width: 400px;

  text-align: center;
  margin: auto;
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

button.newGame {
  font-size: 1.3em;
  color: #fff;
  background-color: #363330;
  border-radius: 10px;

  width: 400px;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
